.top-page {
    font-family: 'Bungee Shade', cursive;
    color: #AAABB8;
    letter-spacing: -2px;
    border-style: hidden;
    background-color: #25274d;
    text-align: center;
    width: 100%;
    display: inline-block;
    

}

.student-information {
    font-family: 'BioRhyme', serif;
    background-color: #AAABB8;
    border-style: hidden;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
        

}
