.top-page {

    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -2px;
    border-style: solid;
    
    text-align: center;
    width: 100%;
    display: inline-block;
    

}

.student-information {
    font-family: 'Open Sans', sans-serif;
    border-style: solid;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
        

}
